.container {
  margin: 20px;
}

.planList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  border-collapse: collapse;
}

.header {
  display: flex;
  font-weight: bold;
  background-color: #f2f2f2;
  border-bottom: 2px solid #ddd;
}

.planItem {
  display: flex;
  border-bottom: 1px solid #ddd;
}

.planItem:nth-child(even) {
  background-color: #f9f9f9;
}

.itemSpan {
  flex: 1;
  padding: 10px;
  text-align: center;
}

/* .header,
.planItem {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
} */

.header {
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.input {
  padding: 10px;
  border-radius: 10px;
}
.formBtn {
  border: 1px solid black;
  border-radius: 10px;
  background-color: aliceblue;
  color: black;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
}
