.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.input {
  padding: 10px;
  border-radius: 10px;
}
.formBtn {
  border: 1px solid black;
  border-radius: 10px;
  background-color: aliceblue;
  color: black;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
}
