.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  background-color: #333333b5;
  color: #fff;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transition: background-color 0.3s ease;
  z-index: 10;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #00a859;
  padding: 5px 10px;
  border-radius: 50px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.logo:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.logo .icon {
  font-size: 15px;
  color: #ff8f18;
  box-shadow: 0 0 25px #ff8f18, 0 0 10px #ff8f18, inset 0 0 15px #ff8f18;
  border-radius: 50%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.logo:hover .icon {
  transform: rotate(15deg);
}

.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 1001;
  margin-right: 20px;
  transition: transform 0.3s ease;
}

.burger:hover {
  transform: scale(1.1);
}

.burger span {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #fff;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.burger.open span:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.burger.open span:nth-child(2) {
  opacity: 0;
}

.burger.open span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.nav {
  position: fixed;
    top: 50%;
    right: 50%;
    height: 60%;
    width: 90%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    /* background: rgba(0, 0, 0, 0.9); */
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 80px;
    transform: translate(160%, -160%);
    transition: transform 0.6s ease;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


.nav.show {
  transform: translate(50%, -60%);
}

.nav button {
  background: none;
  background-color: #34313199;
  color: #fff;
  border-radius: 30px;
  min-width: 200px;
  font-size: 18px;
  padding: 15px;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.nav button:hover {
  color: #ddd;
  background-color: #444;
}

.linkBtnIcon {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}
